<div class="row">
	<div class="col-md-3">
		<p>Onda media</p>
		<h2><%= @h_onda %></h2>
	</div>
	<div class="col-md-3">
		<p>Onda max</p>
		<h2><%= @h_onda_max %></h2>
	</div>
	<div class="col-md-3">
		<p>Direzione vento</p>
		<h2><%= @dir_vento %></h2>
		<img src="img/freccia.png" style="-webkit-transform:rotate(<%= @gradi %>deg);">
	</div>
	<div class="col-md-3">
		<p>Velocità Vento</p>
		<h2><%= @vento %></h2>
	</div>
</div>