<div class="row">
	<div class="col-md-3">
		<h3>Onda media</h3>
		<p><%= @h_onda %></p>
	</div>
	<div class="col-md-3">
		<h3>Onda max</h3>
		<p><%= @h_onda_max %></p>
	</div>
	<div class="col-md-3">
		<h3>Direzione vento</h3>
		<p><%= @dir_vento %></p>
		<img src="img/freccia.png" style="-webkit-transform:rotate(<%= @gradi %>deg);">
	</div>
	<div class="col-md-3">
		<h3>Velocità Vento</h3>
		<p><%= @vento %></p>
	</div>
</div>